.flight-holder{
    padding: 1rem;
    .title-page{
        width: 100%;
        text-align: center;
        padding: 1rem;
        margin-bottom:1rem;  
    }
    .subtitle{
        padding: 0 1rem;
        margin: 2.5rem 0 0 0;
    }
}