

.svg-icon-base {
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 1.5rem;
    height: 1.5rem;

    svg{
        width: 1.5rem;
        height: 1.5rem;
    }
    

    
    
}